<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/styles.css">
<head>
<title>Nyt puhutaan!</title>
</head>
<body>
<h1>Nyt puhutaan! - Keskustelusovellus</h1>
<p>
<a href="/statistics">Tilastoja</a>
<p>
<h2>Keskustelualueet</h2>
<hr>
Alueiden määrä: {{ count }}
<hr>
{% for area in arealist %}
<h3><a href="/{{ area[0] }}">{{ area[1] }}</a></h3>
<hr>
{% endfor %}
{% if session.admin %}
<form method="post">
    Uusi keskustelualue:
    <p>
    <textarea name="area_name" rows="4" cols="50" minlength="1" maxlength="240"></textarea>
    <br>
    <input type="checkbox" name="admin_only">
    <label for="admin_only">Vain ylläpitäjille</label>
    <p>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
Alueen nimen maksimipituus: 240 merkkiä
{% endif %}
<p>
{% if session.user_id %}
Olet kirjautunut sisään.
<p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> | <a href="/register">Luo tunnus</a>
{% endif %}
</body>

</html>
