<!DOCTYPE html>
<html>
<head>
<title>Nyt puhutaan!</title>
</head>
<body>
<h1>Nyt puhutaan! - Keskustelusovellus</h1>
<p>
<a href="/statistics">Tilastoja</a>
<p>
<h2>Keskustelualueet</h2>
<hr>
Alueiden määrä: {{ count }}
<hr>
{% for area in arealist %}
<h3><a href="/{{ area[0] }}">{{ area[1] }}</a></h3>
<hr>
{% endfor %}
{% if session.user_id %}
<form method="post">
    Uusi keskustelualue:
    <p>
    <textarea name="area_name"></textarea>
    <br>
    {% if session.admin %}
    <input type="checkbox" name="admin_only">
    <label for="admin_only">Vain ylläpitäjille</label>
    {% endif %}
    <p>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
Alueen nimen maksimipituus: 240 merkkiä
<p>
{% if not session.admin %}
Olet kirjautunut sisään.
{% endif %}
<p>
{% if session.admin %}
Olet kirjautunut sisään <b>ylläpitäjänä</b>.
{% endif %}
<p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> | <a href="/register">Luo tunnus</a>
{% endif %}
</body>

</html>
