<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/styles.css">
<head>
<title>Nyt puhutaan!</title>
</head>
<body>
<h2>Viesti</h2>
<hr>
<i><span style="color:green">Lähettäjä:</span></i> {{ message[1] }}
<p>
{{ message[0] }}
<p>
<i><span style="color:green">Lähetetty:</span></i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
<p>
Tykkäysten määrä: {{ likecount[0] }}
{% if session.user_id %}
<form method="post">
    <input type="submit" value="Tykkää">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endif %}
</body>
</html>
