<!DOCTYPE html>
<html>
<head>
<title>Nyt puhutaan!</title>
</head>
<body>
<h1>Nyt puhutaan! - Keskustelusovellus</h1>
<p>
<a href="/">Etusivulle</a>
<h2>Viestit aloituksessa: {{thread_name}}</h2>	
<hr>
Viestejä yhteensä: {{ count }}
<hr>
{% for message in messages %}
<i><span style="color:green">Lähettäjä:</span></i> {{ message[1] }}
<p>
{{ message[0] }}
<p>
<i><span style="color:green">Lähetetty:</span></i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
<p>
{% if session.user_id %}
<form method="post">
    Lähetä viesti:
    <p>
    <textarea name="content"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    </form>
Viestin maksimipituus: 4000 merkkiä
<p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> | <a href="/register">Luo tunnus</a>
{% endif %}
</body>
</html>
