<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/styles.css">
<head>
<title>Nyt puhutaan!</title>
</head>
<body>
<h1>Nyt puhutaan! - Keskustelusovellus</h1>
<p>
<a href="/">Etusivulle</a>
<h2>Tilastoja</h2>
<p>
Keskustelusovelluksessa on yhteensä {{ number_of_users }} käyttäjää.
<p>
Keskimääräinen viestin pituus: <b>{{ avglen[0]|round(2) }}</b> merkkiä.
<p>
Eniten viestejä lähettänyt käyttäjä: <b><span style="color:blue">{{ mostmessages[0] }}</span></b> on lähettänyt <b>{{ mostmessages[1] }}</b> viestiä.
<p>
Viesti jolla eniten tykkäyksiä: "{{ mostliked[0] }}", yhteensä <b>{{ mostliked[1] }}</b> tykkäystä.
<p>
Ylläpitäjien alueet eivät sisälly tilastoihin.
