<!DOCTYPE html>
<html>
<head>
<title>Nyt puhutaan!</title>
</head>
<body>
<h1>Nyt puhutaan! - Keskustelusovellus</h1>
<p>
<a href="/">Etusivulle</a>
<h2>Aloitukset alueella: {{area_name}}</h2>	
<hr>
Aloitusten määrä: {{ count }}
<hr>
{% for thread in threadlist %}
<h3><a href="/{{thread[1]}}/{{ thread[0] }}">{{ thread[2] }}</a></h3>
<i><span style="color:blue">Ketju aloitettu:</span></i> {{ thread[4].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
<p>
{% if session.user_id %}
<form method="post">
    Uusi aloitus:
    <p>
    <textarea name="thread_title"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
Aloituksen maksimipituus: 240 merkkiä
<p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> | <a href="/register">Luo tunnus</a>
{% endif %}
</body>
</html>
